name: Maven Package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  package:
    runs-on: self-hosted
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    
    - name: Cache Maven dependencies
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    
    - name: Run Maven package
      run: cd demo && ./mvnw package
    
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ellinj
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Install pack CLI
      run: |
        curl -sSL "https://github.com/buildpacks/pack/releases/download/v0.32.1/pack-v0.32.1-linux.tgz" | sudo tar -C /usr/local/bin/ --no-same-owner -xzv pack
        pack --version
    
    - name: Build and push Docker image with pack CLI
      run: |
        cd demo
        pack build docker.io/ellinj/demo-sec-app:latest \
          --path target/ \
          --builder paketobuildpacks/builder-jammy-base \
          --env BP_JVM_VERSION=17 \
          --publish
  trivy:
    name: Build
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build an image from Dockerfile
        run: docker build -t docker.io/ellinj/demo-sec-app:${{ github.sha }} .
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: 'docker.io/ellinj/demo-sec-app:${{ github.sha }}'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'